<link rel="stylesheet" href="/css/user_profile.css">
<div>
    <img id='dp' src="<%= user.avatar %>" alt="<%= user.name %>">
</div>
<p>Name: <%=profile_user.name %></p>
<p>User email: <%=profile_user.email %></p>

<% if(user.id == profile_user.id) { %> 
    <!-- show form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" id="" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" id="" placeholder="Your Email" value="<%= profile_user.email %>" required>

        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" name="" id="" value="Update">
    </form>
<% } %>